h1 {
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
    font-weight: 800;
    font-size: 50px;
}
h2 {
    font-family: Times;
    color: dimgray;
}
.list h2 {
    font-family: Times;
    color:darkblue;
    text-decoration: underline;
    font-size: 30px;
}
p,
li {
    font-family: Georgia;
    font-weight: bold;
    font-size: 20px;
}
.main {
    background-color:rgb(231, 224, 224);
}
#uniform {
    width: 500px;
    height: 400px;
    object-fit: cover;
}
#star {
    width: 45%;
    height: 40%;
}